*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width:1024px)and (orientation: portrait) {

body {
  background-image: url("./img/everest.jpg");
  background-position: top;
   background-repeat: no-repeat;

 
}

.active {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.inactive {
  display: none;
}

.active button {
  margin: 20px 0;
  padding: 5px 50px;
  background-color: rgba(200,200,200,.8);
  border: black solid 4px;
   font-size: 25px;
  border-radius: 10px
}


.active p {
  font-size: 50px;
  text-transform: capitalize
}

div.final ul li {
  background-color: rgba(200,200,200,.8);
}

}

@media (max-width:640px)and (orientation: landscape) {

body {
  background-image: url("./img/everest.jpg");
  background-position: center -20vh;
  background-repeat: no-repeat;

 
}



.active {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.inactive {
  display: none;
}


.active button {
  margin: 8px 0;
  padding: 5px 50px;
  background-color: rgba(200,200,200,.8);
  border: black solid 4px;
  font-size: 20px;
  border-radius: 10px
}

.active p {
  font-size: 40px;
  text-transform: capitalize
}


}

@media (max-width:4096px)and (orientation: landscape) {

  body {
    background-image: url("./img/everest.jpg");
    background-position: center -20vh;
    background-repeat: no-repeat;
  
   
  }
  
  
  
  .active {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  }
  .inactive {
    display: none;
  }
  
  
  .active button {
    margin: 8px 0;
    padding: 5px 50px;
    background-color: rgba(200,200,200,.8);
    border: black solid 4px;
    font-size: 20px;
    border-radius: 10px
  }
  
  .active p {
    font-size: 40px;
    text-transform: capitalize
  }
  
  
  }
  
